。todo__alert--success {
  padding: 10px 30px;
  border-color: #badbcc;
  background-color: #d1e7dd;
  color: #0f5132;
}

todo__alert--success{
  padding: 10px 0;
  border-color: #f5c2c7;
  background-color: #f8d7da;
  color: #842029;
}


main {
  padding: 30px;
  max-width: 800px;
  margin: auto;
  background-color: white;
  border-radius: 8px;
}

form{
  display: flex;
  gap: 10px
  margin-bottom: 20px;
}

.todo-table__item {
  flex: 1;
}
.update-form__item-input {
  width: 100%;
}
.update {
  background-color: #000ff0;
  color: #fff;
}

.delete {
  background-color: #ff0000
  ;
  color: #fff;
}