.todo__alert--success {
  padding: 10px 30px;
  border-color: #badbcc;
  background-color: #d1e7dd;
  color: #0f5132;
}

.todo__alert--danger{
  padding: 10px 0;
  border-color: #f5c2c7;
  background-color: #f8d7da;
  color: #842029;
}

.todo__alert--danger ul {
  margin: 0;
}


.todo__content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1230px;
}

.create-form{
  display: flex;
  justify-conten: space-between;
  mar: 10px
  margin-bottom: 20px;
}

.todo-table__item {
  flex: 1;
}
.update-form__item-input {
  width: 100%;
}
.update {
  background-color: #000ff0;
  color: #fff;
}

.delete {
  background-color: #ff0000
  ;
  color: #fff;
}